.navbar{
    background-color: #009688 !important;
}

.nav-link{
    color: white !important;
}
.logo{
    margin-left: 55px; 
}
.navbar-brand{
    color: white !important;
}
.dropdown-toggle{
    color: white !important;
}
.fa-shopping-cart,.fa-user,.fa-facebook-square,.fa-twitter-square,.fa-google-plus-square,.fa-linkedin-square,.fa-map-marker,.fa-phone,.fa-envelope {
    font-size: 25px !important;  
}
.fa-truck,.fa-headphones,.fa-thumbs-up{
    font-size: 50px !important;
    margin-right: 10px;
    color: #009688;
}
.card1,.card2,.card3{
    display: flex;
    width: 300;
    height: 100px;
    background-color: #fff;
    box-shadow: 2px 4px 5px gray;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 300px;
}
.mainCard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
h3{
    color: #009688;
}

@media screen and (max-width: 600px){
    .card1,.card2,.card3{
        width: 100%;

    }
}

.newArrival{
    margin-top: 30px;
}
.card{
    width: 250px;
    height: auto;
    margin-bottom: 5px;
}
.card-text{
    font-weight: bold;
    color: black;
}
.btn-primary{
    width: 100%;
    background-color: #009688;
}
.heading{
    text-align: center;
    font-weight: bold;
    color: #009688 ;
    margin: 30px;
    font-size: 40px;
}

.heading > h1{
    text-shadow: 2px 2px 4px black;
}

.footer{
    /* width: 100%; */
    background-color: #009688;
    /* height: 300px; */
}

.w{
    color: #fff;
}
.text-md-right{
    color: #fff;
}
.acc{
    color: #fff;
}
.text-md-left{
    color: white;
}
.fa-user-o{
    font-size: 75px !important;
}
label{
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .newArrival,.card {
        width: 100%;
      
    }
}